<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="MemberMapper.xml"/>
        <mapper resource="SummonerMapper.xml"/>
        <mapper resource="MatchDataMapper.xml"/>
        <mapper resource="TeamMapper.xml"/>
        <mapper resource="AdminMapper.xml"/>
    </mappers>
</configuration>