@charset "UTF-8";

body {
	margin: 0;
}

a{
	cursor: pointer;
	transition: all 0.3s 0s;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

*:focus {
  outline: none !important; }

h3{
	color: #fed159;
}

article {
	width: 100vw;
	height: 100vh;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.f-right {
	float: right !important;
}

.white-font {
	color: #fff;
}

.wrapper:before {
	content: " ";
	display: table;
}

.wrapper:after {
	content: " ";
	clear: both;
}

.able-logo {
	display: inline-block;
	margin-right: 10px;
	width: 130px;
}

.main-header-top {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	max-height: 50px;
	z-index: 1030;
	background-color: #000000;
}

.main-header-top > .navbar {
	margin-bottom: 0;
	margin-left: 230px;
	border: none;
	max-height: 50px;
	border-radius: 0;
	padding: 0;
	background-color: #000000;
}

.navbar {
	position: relative;
}

.main-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	background: #323232;

	padding-top: 50px;
	min-height: 100vh;
	width: 230px;
	z-index: 810;
	box-shadow: 1px 3px 7px rgb(0 0 0 / 30%);
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-rightbar {
	position: fixed;
	top: 0;
	right: 0;
	background: #323232;

	padding-top: 50px;
	min-height: 100vh;
	width: 230px;
	z-index: 810;
	box-shadow: 1px 3px 7px rgb(0 0 0 / 30%);
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-header-top .logo {
	display: block;
	width: 230px;
	height: 50px;
	font-size: 15px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
	padding: 0 15px;
	float: left;
	overflow: hidden;
	color: #323232;
	border-bottom: 0 solid transparent;
}

.main-header-top .top-nav {
	list-style: none;
	padding-left: 0;
	display: inline-block;
	float: right;
	margin: 0 10px 0 0;
}

.main-header-top .top-nav.lft-nav {
	float: left;
}

.main-header-top .top-nav > li {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-top: 5px;
}

.top-nav a{
	color: #fed159;
	font-weight: 700;
	font-size: 26px;
}

.top-nav li:hover {
	background-color: #696969;
	transition: all 0.5s;
}

.main-header-top .navbar .top-nav > li > a {
	opacity: 0.9;
	color: #fff;
}

.open > .dropdown-menu {
	-webkit-animation: scaleDrop 0.3s both;
	animation: scaleDrop 0.3s both;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

header .dropdown-menu {
	right: 0;
	left: auto;
	margin-top: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	border: 0;
	padding: 0;
	min-width: 100px;
}

.dropdown-toggle::after {
	display:inline-block;
	width: 0;
	height: 0;
	margin-left: .3em;
	vertical-align: middle;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
}

.dropdown-menu li a {
	position: relative;
	padding: 8px 0px;
}

.profile > li:hover {
	background-color: transparent !important;
}


.main-header-top .top-nav .settings-menu li a {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	-webkit-transition: all ease-in 0.3s;
	transition: all ease-in 0.3s;
}

.dropdown-menu {
	background-color: #000000;
}

.dropdown-menu a {
	margin-right: 10px;
	margin-left: 10px;
}

#imgPerson{
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color:#505050;
	border-radius:90px;
	width:30px;
	height:30px;
}

.fixed .content-wrapper {
	margin-top: 50px;
}

.content-wrapper {
	position:relative;
	height: 100%;
	margin-top: 50px;
	background-color: #6e6e6e;
	margin-left: 230px;
	margin-right: 230px;
	z-index: 820;
	transition: all 0.3s ease-in-out;
}



.card-header {
	padding: 20px;
	background-color: transparent;
	color: #757575;
	border-bottom: none;
}

.container-fluid {
	position:absolute;
	top:30%;
	left:30%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.login {
	width:100%;
	height: 100%;
	align-items: center;
	text-align: left;
}

.login img {
	padding-left: 65px;
}

.login-card {
	padding: 30px 20px;
	width: 500px;
	position: relative;
	display: inline-block;
	background-color: #fff;
	box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%),
	0 1px 18px 0 rgb(0 0 0 / 12%),
	0 3px 5px -1px rgb(0 0 0 / 30%);
	border-radius: 20px;
}

.login-card img {
	padding-left: 65px;
}

.login-card .md-input-wrapper{
	margin-bottom: 20px;
}

.login-card .id-pw-find{
	margin-left: 250px;
	margin-bottom: 10px;
}

.reg-card {
	padding: 30px 20px;
	width: 500px;
	position: relative;
	display: inline-block;
	background-color: #fff;
	box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%),
	0 1px 18px 0 rgb(0 0 0 / 12%),
	0 3px 5px -1px rgb(0 0 0 / 30%);
	border-radius: 20px;
}

.reg-card h3 {
	color: #000000;
	font-weight:550;
}

.reg-btn-row {
	padding-left: 30px;
	padding-right: 30px;
}

.reg-btn-row .btn{
	width: 40%;
}

.md-input-wrapper{
	position: relative;
	padding-top: 4px;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

.md-input-wrapper select, .md-input-wrapper textarea, input[type=text].md-form-control, input[type=password].md-form-control,
input[type=email].md-form-control{
	  border-radius: 0;
	  border-width: 0 0 1px;
	  border-style: solid;
	  border-color: rgba(0, 0, 0, 0.12);
	  -webkit-box-shadow: inset 0 -1px 0 transparent;
	  box-shadow: inset 0 -1px 0 transparent;
	  box-sizing: border-box;
	  padding: 12px 4px;
	  background: 0 0;
	  width: 100%;
	  display: block;
	  max-height: 100px;
}

.md-input-wrapper > label {
	text-transform: initial;
	color: #727272;
	position: absolute;
	top: 16px;
	left: 4px;
	right: 0;
	pointer-events: none;
	-webkit-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}

.md-input-wrapper .md-line {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.md-form-control:focus ~ .md-line:before,
.md-input-wrapper .md-line:after,
.md-input-wrapper .md-line:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #fed159;
  -webkit-transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

.md-form-control:focus ~ .md-line:after,
.md-form-control:focus ~ .md-line:before {
  width: 100%;
  background: #fed159; }

.md-form-control .md-line:before {
  left: 50%; }

.md-form-control .md-line:after {
  right: 50%; }
  
.md-form-control:focus ~ label,
.md-form-control:valid ~ label,
.md-valid ~ label {
  top: -6px;
  font-size: 13px;
  color: #fed159; }

.card-block {
	padding: 15px;
}

.card-block::after {
	content: "";
	display: table;
	clear: both;
}

.btn-color {
	color: #fff;
	background-color: #696969;
	border-color: #696969;
	margin-bottom: 10px;
}

.find_id {
	position: absolute;
    width:300px;
    height:300px;
    padding: 30px, 20px;
    background-color:#ffffff;
    text-align: center;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.find_pw {
	position: absolute;
    width:300px;
    height:350px;
    padding: 30px, 20px;
    background-color:#ffffff;
    text-align: center;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.find_form {
	padding-top: 30px;
	width:100%;
	height:100%;
	background-color: #fff;
	box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%),
	0 1px 18px 0 rgb(0 0 0 / 12%),
	0 3px 5px -1px rgb(0 0 0 / 30%);
	border-radius: 20px;
}

.find_form h3 {
	color: black;
	margin-bottom: 10px;
}

.termsForm{
	position: absolute;
    width:600px;
    height:650px;
    padding: 50px, 30px;
    background-color:#ffffff;
    text-align: center;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 15px;
    
}

#termsForm{
	margin: 20px;
	height: 500px;
	overflow: auto;
}

#termsForm::-webkit-scrollbar{
	width:10px;
}

#termsForm::-webkit-scrollbar-thumb{
	background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

#termsForm::-webkit-scrollbar-track{
	background-color: #dcdcdc;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.txtArea{
	background-color: #dcdcdc;
}

.txtArea::-webkit-scrollbar{
	width:10px;
}

.txtArea::-webkit-scrollbar-thumb{
	background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.txtArea::-webkit-scrollbar-track{
	background-color: #dcdcdc;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.termsText {
	font-size: 13px;
	margin-left: 5px;
	font-weight: bold;
}

.back-img {
	width:100%;
	height:100%;
	background-image: url('/images/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#main-img {
	margin-top:20%;
	width: 400px;
	height: 200px;
}

.searchbar {
	position: relative;
	height: 48px;
	border-radius: 4px;
	background: #fff;
	margin-left: 30%;
	margin-right: 30%;
}

.searchbar input {
	border: none;
	background: transparent;
	height: 48px;
	margin-right: 48px;
	width: 100%;
	padding: 8px 12px;
	font-size: 16px;
	color: #213a96;
	font-weight: 700;
}

.searchbar button {
	border-radius: 0 3px 3px 0;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 48px;
	padding-right: 10px;
	background: transparent;
	transition: all ease .4s;
}

.champList {
	padding: 30px;
	position: relative;
}

.champ-header {
	font-weight: 600;
}

.mypage-wrapper{
	background-color:#fff;
	position:relative;
	height: 100%;
	margin-top: 50px;
	margin-left: 230px;
	margin-right: 230px;
	z-index: 820;
	transition: all 0.3s ease-in-out;
}

.team-wrapper{
	background-color:#fff;
	position:relative;
	height: 100%;
	margin-top: 50px;
	margin-left: 230px;
	margin-right: 230px;
	z-index: 820;
	transition: all 0.3s ease-in-out;
}

.team-wrapper h3{
	color: #000000;
}

.mypage {
	padding-top: 30px;
	padding-left: 30px;
	left:0;
}

.mypage h3 {
	color: #000000;
}

#memberUpdate, #memberSecession{
	position:absolute;
	right: 10%;
}

.create-team {
	padding-top: 30px;
	position: absolute;
	width:400px;
	margin-left: 20%;
	margin-right: 20%;
}

.back-gray{
	background-color: #6e6e6e;
}

.info {
	position: relative;
}

.champ-img {
	vertical-align: top;
}

.right-info {
	display: inline-block;
	padding-top: 50px;
}

.info-font {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
}

.champ_skill{
	display: inline-block;
}

.skill {
	display: inline-block;
	position: relative;
}

.skill:hover p {
	display: block;
	transform-origin: 100% 0%;
	
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.skill p {
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: 0;
	color: #fff;
	font-size: 13px;
	line-height: 1.4;
}

.skill p:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: #1E2021;
	right: 10px;
	top: -12px;
}

.skill p:after {
	width: 100%;
	height: 40px;
	content: '';
	position: absolute;
	top: -40px;
	right:0;
}

@-webkit-keyframes fadeIn {

	0% { 

		opacity:0; 

		transform: scale(0.6);

	}

 

	100% {

		opacity:100%;

		transform: scale(1);

	}

}

@keyframes fadeIn {

	0% { opacity:0; }

	100% { opacity:100%; }

}