<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
    <select id="insert">
        insert into member(userid, passwd, nickname, name, email)
            values(#{userid}, #{passwd}, #{nickname}, #{name}, #{email})
    </select>

    <select id="selectOne" parameterType="String" resultType="Project.pro.gg.Model.MemberDTO">
        select * from member
            where userid = #{userid}
    </select>
    <select id="summonerName">
        update member
        set summoner_name = #{summoner_name}
        where userid = #{userid}
    </select>

    <select id="deleteSummonerName">
        update member
        set summoner_name = NULL
        where userid = #{userid}
    </select>

    <select id="findId" resultType="Project.pro.gg.Model.MemberDTO">
        select * from member
        where name = #{name} and email = #{email}
    </select>

    <select id="findPasswd" resultType="Project.pro.gg.Model.MemberDTO">
        select * from member
        where userid = #{userid} and name = #{name} and email = #{email}
    </select>

    <select id="updatePasswd">
        update member
        set passwd = #{passwd}
        where userid = #{userid}
    </select>

    <select id="updateMemberData">
        update member
        set name = #{name},
        nickname = #{nickname},
        email = #{email}
        where userid = #{userid}
    </select>

    <select id="deleteMember">
        delete from member where userid = #{userid}
    </select>
</mapper>