<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
	<select id="insert">
        insert into boardpost(boardNumber, postTitle, postContent, nickname, postDate, postTime)
            values(#{boardNumber}, #{postTitle}, #{postContent}, #{nickname}, #{postDate}, #{postTime})
    </select>
    <select id="selectPostList" resultType="map">
    	${sql}
    </select>    
    <select id="selectPastPost" parameterType="String" resultType="Map">
        select * from boardpost
        where nickname = #{nickname}
    </select>
    <select id="selectPostContent" parameterType="Project.pro.gg.Model.PostDTO" resultType="String">
        select postContent from boardpost
        where nickname = #{nickname} and postTitle = #{postTitle}
    </select>
</mapper>