<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="summoner">
    <select id="searchSummonerData" resultType="Project.pro.gg.Model.SummonerDTO">
        select * from summoner
        where summoner_name = #{summoner_name}
    </select>

    <select id="findByUserid" parameterType="String" resultType="Project.pro.gg.Model.SummonerDTO">
        select * from summoner
        where userid = #{userid}
    </select>

    <select id="insertSummonerData">
        insert into summoner(summoner_name, id, accountid, puuid, profileiconid, summonerlevel, revisiondate, userid)
            values(#{summoner_name}, #{id}, #{accountId}, #{puuid}, #{profileiconId}, #{summonerLevel}, #{revisionDate}, #{userid})
    </select>

    <select id="deleteSummonerData" parameterType="String">
        delete from summoner where summoner_name = #{summoner_name}
    </select>

    <select id="createTable" parameterType="String">
        ${sql}
    </select>

    <select id="dropTable" parameterType="String">
        ${sql}
    </select>

    <select id="insertRankedSoloData">
        insert into ranked_solo(id, queueType, tier, tier_rank, leaguePoints, wins, losses, rate, summoner_name)
            values(#{id}, #{queueType}, #{tier}, #{tier_rank}, #{leaguePoints}, #{wins}, #{losses}, #{rate}, #{summoner_name})
    </select>

    <select id="insertRankedFlexData">
        insert into ranked_flex(id, queueType, tier, tier_rank, leaguePoints, wins, losses, rate, summoner_name)
            values(#{id}, #{queueType}, #{tier}, #{tier_rank}, #{leaguePoints}, #{wins}, #{losses}, #{rate}, #{summoner_name})
    </select>

    <select id="updateRankedSoloData">
        update ranked_solo
        set tier = #{tier},
            tier_rank = #{tier_rank},
            leaguePoints = #{leaguePoints},
            wins = #{wins},
            losses = #{losses},
            rate = #{rate},
            summoner_name = #{summoner_name}
        where id = #{id}
    </select>

    <select id="updateRankedFlexData">
        update ranked_flex
        set tier = #{tier},
            tier_rank = #{tier_rank},
            leaguePoints = #{leaguePoints},
            wins = #{wins},
            losses = #{losses},
            rate = #{rate},
            summoner_name = #{summoner_name}
        where id = #{id}
    </select>

    <select id="selectRankedSoloData" resultType="Project.pro.gg.Model.RankedSoloDTO">
        select * from ranked_solo
        where id = #{id}
    </select>

    <select id="selectRankedFlexData" resultType="Project.pro.gg.Model.RankedFlexDTO">
        select * from ranked_flex
        where id = #{id}
    </select>

    <select id="insertSpell" parameterType="Project.pro.gg.Model.SpellDTO">
        insert into spell(spellName, name, description, keyValue)
         values(#{spellName}, #{name}, #{description}, #{keyValue})
    </select>

    <select id="selectSpell" parameterType="int" resultType="Project.pro.gg.Model.SpellDTO">
        select * from spell
        where keyValue = #{keyValue}
    </select>

    <select id="findByid" parameterType="String" resultType="Project.pro.gg.Model.SummonerDTO">
        select * from summoner
        where id = #{id}
    </select>
</mapper>